@font-face {
    font-family: 'MKSJH';  /* 定义字体名称 */
    src: url('https://npm.onmicrosoft.cn/x1aoq1u-blog-npm@1.0.7/font/ZiHunBianTaoTi-2.ttf');
    font-weight: normal;  /* 字体粗细 */
    font-style: normal;   /* 字体样式 */
}